ul {
  margin-top: 20px;
}
.side-bar-route li {
  text-align: center;
  list-style: none;
  padding: 25px;
  margin-left: 0.7vh;
}
.notes-section-route li {
  text-align: center;
  list-style: none;
  padding: 47px;
  margin: 0.7vh;
}
.float-container {
  display: flex;
}
.float-child {
  flex: 1;
}
.notes-section-route {
  justify-content: center;
  right: 5%;
  text-align: center;
}
.side-bar-route {
  width: 30%;
}
.back-button-div {
  position: absolute;
  width: 100px;
  left: 7%;
}
