* {
  margin: 0;
  padding: 0;
}
.header-section a {
  color: black;
  list-style: none;
  text-decoration: none;
}
.header-section {
  text-align: center;
  padding: 5vh;
  padding-bottom: 8vh;
}
.header-section span {
  font-family: "Anton", sans-serif;
  transform: translate(-50%, -50%);
  font-size: 6vh;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 4px 4px lightblue, 10px 10px #000000;
  transition: all 0.4s ease 0s;
}

.header-section span:hover {
  font-size: 6.5vh;
  transition: all 0.4s ease 0s;
}
