@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
.note-div {
  color: white;
}
li {
  text-align: center;
  list-style: none;
  background-color: transparent;
  border: solid 2px orange;
}
.note-div a {
  list-style: none;
  text-decoration: none;
  color: white;
  float: left;
  padding: 2px;
  font-size: 3vh;
  font-family: "Dancing Script", cursive;
}
.note-div a:hover {
  color: rgb(0, 255, 234);
  transition: all 0.4s ease 0s;
}
.add-note {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "Dancing Script", cursive;
}
.add-note li:hover {
  background-color: #198b19;
  color: white;
  transition: all 0.4s ease 0s;
}
.date-modified {
  float: bottom;
}
.delete-button {
  position: absolute;
  right: 10px;
  color: white !important;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  background: transparent;
  border: 2px solid white !important;
  transition: all 0.4s ease 0s;
}
.delete-button:hover {
  color: #ffffff !important;
  background: #e53f3f;
  border-color: #e53f3f !important;
  transition: all 0.4s ease 0s;
}
.go-back {
  position: absolute;
  left: 30%;
  color: white !important;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  background: transparent;
  border: 2px solid #ff7000 !important;
  transition: all 0.4s ease 0s;
}
.go-back:hover {
  color: #ffffff !important;
  background: #ff7000;
  transition: all 0.4s ease 0s;
}
.side-bar-route h3 {
  text-decoration: none;
  font-size: 3.2vh;
  padding: 10px;
  font-family: "Dancing Script", cursive;
}
