.side-bar a {
  list-style: none;
  text-decoration: none;
  color: black;
}
.side-bar li {
  list-style: none;
  text-decoration: none;
  width: 200px;
  text-align: center;
  padding: 40px;
  margin: 10px;
  transition: 1s;
}
.side-bar li:hover {
  transition: all 0.4s ease 0s;
  box-shadow: 2px 2px #696969, 3px 3px #696969, 4px 4px#696969;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
.add-folder-section {
  width: 200px;
  text-align: center;
  margin: 20px;
  margin-left: 50px;
}
.add-folder-link {
  border: none;
  background: white;
  color: black !important;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
.add-folder-link:hover {
  color: #ffffff !important;
  background: black;
  border-color: black !important;
  transition: all 0.4s ease 0s;
}
.back-button-div {
  margin-left: 60%;
}
.go-back {
  border: none;
  background: white;
  color: black !important;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
.go-back:hover {
  color: #ffffff !important;
  background: black;
  border-color: black !important;
  transition: all 0.4s ease 0s;
}
